<kt-portlet class="main-content">
    <h1></h1>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
            <h3 class="kt-portlet__head-title">
                <span>{{ 'USER.USER_MANAGE.TITLE' | translate }}</span>
            </h3>
        </ng-container>
        <ng-container ktPortletTools>
            <button class="add-button" mat-raised-button color="primary" type="button"
                [hidden]="checkPermission('USER_ADD')" [disabled]="checkPermission('USER_ADD')" (click)="addUser()">
                <span>
                    <mat-icon>add</mat-icon>
                    {{ 'USER.USER_MANAGE.ADD_BUTTON_LABEL' | translate }}
                </span>
            </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="kt-form kt-margin-b-30">
            <!-- start::FILTERS -->
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <div class="kt-form__control">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select multiple [(ngModel)]="statusValues" #status="ngModel"
                                    (selectionChange)="search()">
                                    <mat-select-trigger>
                                        {{ statusValues.length === listStatusFilter.length ? allLabel : statusValues }}
                                    </mat-select-trigger>
                                    <select-check-all [model]="status" [values]="listStatusValue"
                                        (masterSelect)="onMasterStatusSelectChange($event)">
                                    </select-check-all>
                                    <mat-option *ngFor="let status of listStatusFilter" [value]="status.name">
                                        {{ status.description }}
                                    </mat-option>
                                </mat-select>
                                <mat-hint align="start">{{ 'USER.USER_MANAGE.FILTER_BY' | translate }}
                                    <strong>{{ 'USER.USER_MANAGE.STATUS' | translate }}</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <div class="kt-form__control">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select multiple [(ngModel)]="roleValues" #roles="ngModel"
                                    (selectionChange)="search()">
                                    <mat-select-trigger>
                                        {{ roleValues.length === listRoleFilter.length ? allLabel : displayRoleFilter() }}
                                    </mat-select-trigger>
                                    <select-check-all [model]="roles" [values]="listRoleValue"
                                        (masterSelect)="onMasterRoleSelectChange($event)">
                                    </select-check-all>
                                    <mat-option *ngFor="let role of listRoleFilter" [value]="role.id">
                                        {{ role.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-hint align="start">{{ 'USER.USER_MANAGE.FILTER_BY' | translate }}
                                    <strong>{{ 'USER.USER_MANAGE.ROLE' | translate }}</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-2 col-sm-9 col-9 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="{{ 'COMMON.SEARCH_TOOLTIP' | translate }}"
                                [(ngModel)]="searchValue" (keyup.enter)="search()" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-sm-2 col-2 kt-margin-bottom-10-mobile">
                        <button mat-button color="primary" (click)="search()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="group-user-setting">
                <div class="box-user-setting">
                    <button class="button-setting ml-2" mat-icon-button aria-label="More actions"
                        [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [hidden]="checkPermission('USER_UPDATE')"
                            [disabled]="checkPermission('USER_UPDATE')" (click)="changeStatusUsers('DEACTIVE')">
                            <mat-icon color="warn">lock</mat-icon>
                            <span>{{ 'USER.USER_MANAGE.LOCK' | translate }}</span>
                        </button>
                        <button mat-menu-item [hidden]="checkPermission('USER_UPDATE')"
                            [disabled]="checkPermission('USER_UPDATE')" (click)="changeStatusUsers('ACTIVE')">
                            <mat-icon color="primary">lock_open</mat-icon>
                            <span>{{ 'USER.USER_MANAGE.UN_LOCK' | translate }}</span>
                        </button>
                        <button mat-menu-item [hidden]="checkPermission('USER_DELETE')"
                            [disabled]="checkPermission('USER_DELETE')" (click)="deleteUsers()">
                            <mat-icon color="warn">delete</mat-icon>
                            <span>{{ 'USER.USER_MANAGE.DELETE' | translate }}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- end::FILTERS -->
            <div class="box-table">
                <mat-table class="mat-elevation-z8" matSort [dataSource]="users" (matSortChange)="onSortChange($event)">
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                            <mat-checkbox [checked]="isCheckAll" [color]="'primary'" (change)="onMasterChange($event)">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                            <mat-checkbox [checked]="isChecked(row)" [color]="'primary'"
                                (click)="$event.stopPropagation()" (change)="onCheckboxChange($event, row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-start">
                            {{ 'USER.USER_MANAGE.TABLE.USER_NAME' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-start">
                            {{ element.username }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-start">
                            {{ 'USER.USER_MANAGE.TABLE.DISPLAY_NAME' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-start">
                            {{ element.name }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-start">
                            {{ 'USER.USER_MANAGE.TABLE.EMAIL' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-start">
                            {{ element.email }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="roleUsers">
                        <mat-header-cell *matHeaderCellDef class="justify-content-start">
                            {{ 'USER.USER_MANAGE.TABLE.ROLES' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-start box-block">
                            <span *ngFor="let role of element.roles" _ngcontent-dha-c15=""
                                [hidden]="checkPermission('USER_GET_ROLES')" (click)="viewRoleDetail(role.id)"
                                class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">{{ role.name }}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="userGroups">
                        <mat-header-cell *matHeaderCellDef class="justify-content-start">
                            {{ 'USER.USER_MANAGE.TABLE.GROUPS' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-start box-block">
                            <span *ngFor="let group of element.groups" _ngcontent-dha-c15=""
                                [hidden]="checkPermission('GROUP_GET_BY_ID')" (click)="viewGroupDetail(group.id)"
                                class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">{{ group.name }}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-center">
                            {{ 'USER.USER_MANAGE.TABLE.STATUS' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-center">
                            <span class="kt-badge kt-badge--inline kt-badge--pill {{
                                    getItemCssClassByStatus(element.status)
                                }} kt-badge--wide">{{ element.status }}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center">
                            {{ 'USER.USER_MANAGE.TABLE.ACTIONS' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" class="justify-content-center">
                            <ng-container>
                                <button
                                    mat-icon-button color="primary"
                                    [hidden]="checkPermission('USER_GET_BY_ID')"
                                    [disabled]="checkPermission('USER_GET_BY_ID')"
                                    (click)="viewUserDetail(item)"
                                    matTooltip = "{{'COMMON.VIEW_DETAIL_TOOLTIP' | translate}}"
                                    >
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>&nbsp;
                            </ng-container>
                            <ng-container>
                                <button
                                    mat-icon-button color="primary"
                                    [hidden]="checkPermission('USER_UPDATE_ROLES')"
                                    [disabled]="checkPermission('USER_UPDATE_ROLES')"
                                    (click)="editUser(item)"
                                    matTooltip = "{{'COMMON.EDIT_TOOLTIP' | translate}}"
                                >
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                            </ng-container>
                            <ng-container *ngIf="item.status == 'PENDING'">
                                <button mat-icon-button [disabled]="checkPermission('USER_DELETE')"
                                    [hidden]="checkPermission('USER_DELETE')" (click)="deleteUser(item)">
                                    <mat-icon class="delete">delete</mat-icon>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="item.status == 'ACTIVE'">
                                <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="More actions">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu1="matMenu">
                                    <button mat-menu-item [hidden]="checkPermission('USER_DELETE')"
                                        [disabled]="item.id == currentUserId ? true : false" (click)="deleteUser(item)">
                                        <mat-icon color="warn">delete</mat-icon>
                                        <span>{{ 'USER.USER_MANAGE.DELETE' | translate }}</span>
                                    </button>
                                    <button mat-menu-item (click)="lockUser(item)"
                                        [hidden]="checkPermission('USER_UPDATE')"
                                        [disabled]="item.id == currentUserId ? true : false">
                                        <mat-icon color="primary">lock</mat-icon>
                                        <span>{{ 'USER.USER_MANAGE.LOCK' | translate }}</span>
                                    </button>
                                    <button mat-menu-item [hidden]="checkPermission('USER_RESET_PASS')"
                                        (click)="resetPassword(item)">
                                        <mat-icon color="primary">refresh</mat-icon>
                                        <span>{{ 'USER.USER_MANAGE.RESET_PASS_TITLE' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </ng-container>
                            <ng-container *ngIf="item.status == 'DEACTIVE'">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More actions">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="deleteUser(item)"
                                        [hidden]="checkPermission('USER_DELETE')"
                                        [disabled]="checkPermission('USER_DELETE')">
                                        <mat-icon color="warn">delete</mat-icon>
                                        <span>{{ 'USER.USER_MANAGE.DELETE' | translate }}</span>
                                    </button>
                                    <button mat-menu-item (click)="unLockUser(item)"
                                        [hidden]="checkPermission('USER_UPDATE')"
                                        [disabled]="checkPermission('USER_UPDATE')">
                                        <mat-icon color="primary">lock_open</mat-icon>
                                        <span>{{ 'USER.USER_MANAGE.UN_LOCK' | translate }}</span>
                                    </button>
                                    <button mat-menu-item [hidden]="checkPermission('USER_RESET_PASS')"
                                        [disabled]="checkPermission('USER_RESET_PASS')" (click)="resetPassword(item)">
                                        <mat-icon color="primary">refresh</mat-icon>
                                        <span>{{ 'USER.USER_MANAGE.RESET_PASS_TITLE' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </ng-container>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
            </div>
            <div class="box-spiner" *ngIf='loading && dataSource.length == 0'>
                <mat-spinner></mat-spinner>
            </div>
            <div class="no-record" *ngIf="!loading && users.length == 0 && this.canAccess == true">
                <p>{{ 'COMMON.NO_RECORD_SEARCH' | translate }}</p>
            </div>
            <div class="no-record access-noti" *ngIf="!loading && users.length == 0 && this.canAccess == false">
                <p>{{ 'COMMON.FORBIDDEN' | translate }}</p>
            </div>
            <mat-paginator [pageSize]="limit" [pageSizeOptions]="pageSizeOption" [length]="totalElement"
                [pageIndex]="page" [showFirstLastButtons]="true" (page)="pageChange($event)">
            </mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>
