<div class="kt-portlet popup-medium">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{'APP.ADD.TITLE'|translate}}</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="addForm">
        <div class="kt-portlet__body">
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="" formControlName="name" />
                        <mat-error *ngIf="validateForm('name','required')">{{'APP.ADD.APP_NAME_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('name','maxlength')">{{'APP.ADD.APP_NAME_MAX_LENGTH'|translate}}
                        </mat-error>
                        <mat-hint align="start">{{'APP.ADD.APP_NAME'|translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="" formControlName="description" />
                        <mat-error *ngIf="validateForm('description','maxlength')">
                            {{'APP.ADD.APP_DES_MAX_LENGTH'|translate}}
                        </mat-error>
                        <mat-hint align="start">{{'APP.ADD.APP_DES'|translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select (selectionChange)="onSelectChange($event)" formControlName="authType">
                            <mat-option *ngFor="let authType of authTypeList" [value]="authType.name">{{authType.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="validateForm('authType','required')">{{ 'APP.ADD.APP_API_KEY_REQUIRED' | translate }}
                        </mat-error>
                        <mat-hint align="start">{{ 'APP.ADD.APP_API_KEY' | translate }}
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div *ngIf="mothodType" class="col-lg-12 kt-margin-bottom-20-mobile kt-margin-t-20">
                    <div class="box-role-check">
                        <mat-checkbox class="role-check" formControlName="approveRequire" value="true"
                            (change)="toggleApproveRequire($event)">{{ 'APP.ADD.APP_APPROVE_REQUIRE' | translate }}
                        </mat-checkbox>
                    </div>
                </div>
                <div *ngIf="mothodType" class="col-lg-12 kt-margin-bottom-20-mobile kt-margin-t-20">
                    <div class="box-role-check">
                        <mat-checkbox class="role-check" formControlName="shareToken" value="false"
                            (change)="toggleShareToken($event)">{{ 'APP.ADD.APP_SHARE_TOKEN' | translate }}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button class="btn-cancel" type="button" mat-raised-button cdkFocusInitial (click)="close()">
                            {{ 'COMMON.BTN_CANCEL' | translate }}
                        </button>&nbsp;
                        <button class="btn-save" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"  type="button" mat-raised-button color="primary" (click)="save()">
                            {{ 'COMMON.BTN_SAVE' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>