<!-- BEGIN: Left Aside -->
<div [options]="menuCanvasOptions" class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside"
     ktOffcanvas>
    <!-- BEGIN: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div #asideMenu (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" [ngClass]="htmlClassService.getClasses('aside_menu', true)"
             [ngStyle]="{'max-height': '100vh', 'position': 'relative'}" [options]="menuOptions" [perfectScrollbar]="{wheelPropagation: false}"
             class="kt-aside-menu" id="kt_aside_menu"
             ktMenu>
            <ul [ngClass]="htmlClassService.getClasses('aside_menu_nav', true)" class="kt-menu__nav">
                <ng-container [ngTemplateOutlet]="menuListTemplate"></ng-container>
            </ul>
        </div>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->

<ng-template #menuListTemplate>
    <ng-container *ngFor="let child of menuAsideService.menuList$ | async">
        <ng-container *ngIf="child.section" [ngTemplateOutletContext]="{ item: child }"
                      [ngTemplateOutlet]="menuItemSectionTemplate"></ng-container>
        <ng-container *ngIf="child.separator" [ngTemplateOutletContext]="{ item: child }"
                      [ngTemplateOutlet]="menuItemSeparatorTemplate"></ng-container>
        <ng-container *ngIf="child.title" [ngTemplateOutletContext]="{ item: child }"
                      [ngTemplateOutlet]="menuItemTemplate"></ng-container>
    </ng-container>
</ng-template>

<ng-template #menuItemTemplate let-item="item" let-parentItem="parentItem">
    <ng-container *ngIf="!item.permission" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"
                  [ngTemplateOutlet]="menuItemInnerTemplate"></ng-container>
    <ng-template *ngIf="item.permission">
        <ng-container [ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"
                      [ngTemplateOutlet]="menuItemInnerTemplate"></ng-container>
    </ng-template>
</ng-template>

<ng-template #menuItemInnerTemplate let-item="item" let-parentItem="parentItem">
    <li [attr.aria-haspopup]="true"
        [attr.data-ktmenu-dropdown-toggle-class]="item['dropdown-toggle-class']"
        [attr.data-ktmenu-submenu-mode]="item.mode"
        [attr.data-ktmenu-submenu-toggle]="getItemAttrSubmenuToggle(item)" [ngClass]="getItemCssClasses(item)"
        [ngbTooltip]="item.tooltip" data-placement="right">

        <!-- if menu item hasn't submenu -->
        <a *ngIf="!item.submenu" [routerLink]="item.page" class="kt-menu__link kt-menu__toggle">
            <ng-container [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"
                          [ngTemplateOutlet]="menuItemTextTemplate"></ng-container>
        </a>
        <!-- if menu item has sumnenu child  -->
        <a *ngIf="item.submenu" class="kt-menu__link kt-menu__toggle">
            <ng-container [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"
                          [ngTemplateOutlet]="menuItemTextTemplate"></ng-container>
        </a>

        <!-- if menu item has submenu child then recursively call new menu item component -->
        <div *ngIf="item.submenu" class="kt-menu__submenu">
            <span class="kt-menu__arrow"></span>
            <div *ngIf="item['custom-class'] === 'kt-menu__item--submenu-fullheight'" class="kt-menu__wrapper">
                <!-- wrap submenu to full height -->
                <ng-container [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"
                              [ngTemplateOutlet]="menuSubmenuTemplate"></ng-container>
            </div>
            <!-- normal submenu -->
            <ng-container *ngIf="item['custom-class'] !== 'kt-menu__item--submenu-fullheight'"
                          [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"
                          [ngTemplateOutlet]="menuSubmenuTemplate">
            </ng-container>
        </div>
    </li>

</ng-template>

<ng-template #menuSubmenuTemplate let-item="item" let-parentItem="parentItem">
    <ul class="kt-menu__subnav">
        <ng-container *ngFor="let child of item.submenu">
            <ng-container *ngIf="child.section" [ngTemplateOutletContext]="{ item: child, parentItem: item }"
                          [ngTemplateOutlet]="menuItemSectionTemplate"></ng-container>
            <ng-container *ngIf="child.separator" [ngTemplateOutletContext]="{ item: child, parentItem: item }"
                          [ngTemplateOutlet]="menuItemSeparatorTemplate"></ng-container>
            <ng-container *ngIf="child.title" [ngTemplateOutletContext]="{ item: child, parentItem: item }"
                          [ngTemplateOutlet]="menuItemTemplate"></ng-container>
        </ng-container>
    </ul>
</ng-template>

<ng-template #menuItemTextTemplate let-item="item" let-parentItem="parentItem">
    <!-- if menu item has icon -->
    <i *ngIf="item.icon" [ngClass]="item.icon" class="kt-menu__link-icon"></i>

    <!-- if menu item using bullet -->
    <i *ngIf="parentItem && parentItem.bullet === 'dot'" class="kt-menu__link-bullet kt-menu__link-bullet--dot">
        <span></span>
    </i>
    <i *ngIf="parentItem && parentItem.bullet === 'line'" class="kt-menu__link-bullet kt-menu__link-bullet--line">
        <span></span>
    </i>

    <!-- menu item title text -->
    <span [translate]="item.translate" class="kt-menu__link-text">{{item.title}}</span>
    <!-- menu item with badge -->
    <span *ngIf="item.badge" class="kt-menu__link-badge">
		<span [ngClass]="item.badge.type" class="kt-badge">{{item.badge.value}}</span>
	</span>

    <!-- if menu item has submenu child then put arrow icon -->
    <i *ngIf="item.submenu" class="kt-menu__ver-arrow la la-angle-right"></i>
</ng-template>

<ng-template #menuItemSeparatorTemplate let-item="item" let-parentItem="parentItem">
    <li class="kt-menu__separator"><span></span></li>
</ng-template>

<ng-template #menuItemSectionTemplate let-item="item" let-parentItem="parentItem">
    <li class="kt-menu__section">
        <h4 class="kt-menu__section-text">{{item.section}}</h4>
        <i class="kt-menu__section-icon flaticon-more-v2"></i>
    </li>
</ng-template>
