<div class="kt-portlet popup-medium">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{'USER.USER_MANAGE.CHANG_PASS_TITLE'|translate}}</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="editForm">
        <div class="kt-portlet__body">
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile form-gender-name">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput formControlName="oldPass" class="form-name" type="password"
                            (keyup.enter)="save()" />
                        <mat-error *ngIf="validateForm('oldPass', 'required')">
                            {{'USER.USER_MANAGE.CHANG_PASS_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('oldPass', 'maxlength')">
                            {{'USER.USER_MANAGE.CHANG_PASS_MAXLENGTH'|translate}}
                        </mat-error>
                        <mat-hint align="start">{{'USER.USER_MANAGE.CHANG_PASS_OLD'|translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput formControlName="newPass" class="form-name" type="password"
                            (keyup)="getNewPass()" (keyup.enter)="save()" />
                        <mat-error *ngIf="validateForm('newPass', 'required')">
                            {{'USER.USER_MANAGE.CHANG_PASS_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('newPass', 'maxlength')">
                            {{'USER.USER_MANAGE.CHANG_PASS_MAXLENGTH'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('newPass', 'minlength')">
                            {{'USER.USER_MANAGE.CHANG_PASS_MINLENGTH'|translate}}
                        </mat-error>
                        <mat-hint align="start">{{'USER.USER_MANAGE.CHANG_PASS_NEW'|translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput formControlName="reNewPass" class="form-name" type="password"
                            (keyup)="getReNewPass()" (keyup.enter)="save()" />
                        <mat-error *ngIf="validateForm('reNewPass', 'required')">
                            {{'USER.USER_MANAGE.CHANG_PASS_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('reNewPass', 'maxlength')">
                            {{'USER.USER_MANAGE.CHANG_PASS_MAXLENGTH'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('reNewPass', 'minlength')">
                            {{'USER.USER_MANAGE.CHANG_PASS_MINLENGTH'|translate}}
                        </mat-error>
                        <mat-error *ngIf="validateForm('reNewPass', 'matchPass')">
                            {{'USER.USER_MANAGE.PASS_NOT_MATCH'|translate}}
                        </mat-error>
                        <mat-hint align="start">{{'USER.USER_MANAGE.CHANG_PASS_RENEW'|translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button class="btn-cancel" type="button" mat-raised-button cdkFocusInitial (click)="close()">
                            {{ 'COMMON.BTN_CANCEL' | translate }}
                        </button>&nbsp;
                        <button class="btn-save" type="button" mat-raised-button color="primary" (click)="save()">
                            {{ 'COMMON.BTN_SAVE' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>