.cover{
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1px solid black;
}
.cover2{
    margin-left: 2vw;
    margin-top: 1vw;
    //border: 1px solid black;
}
.fund {
    margin-bottom: 1vw;
}

.cover3 {
    border: 1px solid black;
    margin-left: 4vw;
    margin-right: 4vw;
}
.amount-form {
    text-align: center;
}
