<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{'SYSTEM_CONFIG.VIEW.TITLE'|translate}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="configForm">
		<div class="kt-portlet__body">
			<div class="form-group kt-form__group row">
				<div class="col-lg-12 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput readonly
							   class="input-disabled"
							   formControlName="key"/>
						<mat-hint align="start">{{'SYSTEM_CONFIG.VIEW.KEY_INPUT_TITLE'|translate}}
						</mat-hint>
					</mat-form-field>
				</div>
				<div class="col-lg-12 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput readonly
							   class="input-disabled"
							   formControlName="value"/>
						<mat-hint align="start">{{'SYSTEM_CONFIG.VIEW.VALUE_INPUT_TITLE'|translate}}
						</mat-hint>
					</mat-form-field>
				</div>
				<div class="col-lg-12 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<textarea matInput
								  matTextareaAutosize
								  matAutosizeMinRows=3
								  matAutosizeMaxRows=3
								  readonly
								  class="input-disabled"
								  formControlName="note">
						</textarea>
						<mat-hint align="start">{{'SYSTEM_CONFIG.VIEW.NOTE_INPUT_TITLE'|translate}}
						</mat-hint>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button"
								mat-raised-button
								cdkFocusInitial
								matTooltip="{{'SYSTEM_CONFIG.VIEW.CLOSE_BUTTON_TITLE'|translate}}"
								(click)="close()">
							{{'SYSTEM_CONFIG.VIEW.CLOSE_BUTTON_TITLE'|translate}}
						</button>&nbsp;
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
