.cursor-pointer {
    cursor: pointer;
}

.box-avatar {
    height       : 80px;
    width        : 80px;
    background   : #aaa;
    border-radius: 50%;
    overflow     : hidden;

    p {
        line-height   : 80px;
        text-align    : center;
        font-size     : 30px;
        text-transform: uppercase;
    }
}